<!DOCTYPE html>
<html>
    <head>
        <title>Live streaming</title>
        <script>

        </script>

    </head>
    <body>
        <div>
            <img id="frames" src="">
        </div>

    </body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.2.0/socket.io.js"></script>
    <script src="static/js/sock.js"></script>
    </html>

    <!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>flask-socketio</title>
</head>
<body>
<h1>Hello World</h1>
<p><span>Only <span id="count"></span>
        left in stock! Order 123now!</span></p>
</body>
<script type="text/javascript"></script>
<script type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.2.0/socket.io.js"></script>
<script type="text/javascript" charset="utf-8">
    var namespace = '/test'
    var socket = io.connect('http://' + document.domain + ':' + location.port);
    socket.on('connect', function(msg) {
    // $('#count').html(msg.num)
    console.log(msg)
});

    function a(){socket.emit('my event', {data: 'I\'m connected!'})};
    setTimeout(a, 3000);
  
</script>
</html> -->

    <!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>flask-socketio</title>
</head>
<body>
<h1>Hello World</h1>
<p><span>Only <span id="count"></span>
        left in stock! Order 123now!</span></p>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.2.0/socket.io.js"></script>
<script type="text/javascript"></script>
<script type="text/javascript"></script>
<script type="text/javascript" charset="utf-8">
    var namespace = '/test'
    var socket = io.connect('http://' + document.domain + ':' + location.port + namespace);
    socket.on('connect', function(msg) {
    $('#count').html(msg.num)});

    function a(){socket.emit('my event', {data: 'I\'m connected!'})};
    setTimeout(a, 3000);
  
</script>
</html>

 -->
